{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAssword Reset</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .form-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            color: rgb(73, 46, 46);
        }
    </style>
</head>

<body>
    <div class="form-container">
        <h2 class="text-center">Reset Your Password</h2>
        <p class="text-center">Please enter your new password below.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                <p>Your password can’t be too similar to your other personal information.</p>
                <p>Your password must contain at least 8 characters.</p>
                <p>Your password can’t be a commonly used password.</p>
                <p>Your password can’t be entirely numeric.</p>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="main-btn">Reset Password</button>
        </form>
        <div class="footer-copy">
            <div class="copy-right text-center pt-5 pb-3">
                <p class="text-dark">© 2023. Indo Bites. All rights reserved.</p>
            </div>
        </div>
    </div>

</body>

</html>