{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.min.css">
    <link rel="icon" href="{% static 'logo1.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#"><img decoding="async" src="{% static 'logo.png' %}" height="80"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-muted" style="font-family:'papyrus'">Click me</span>
                    <i class=" fas fa-stream navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prof">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart">🛒Cart</a>
                        </li>
                        <li>
                            <strong> Welcome Dear {{ user.username }}</strong>
                        </li>
                        {% if sign %}
                        <button class="main-btn"><a href="/logout">logout</a></button>
                        {% else %}
                        <button class="main-btn"><a href="/login">login</a></button>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Order Tracker</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ordered On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{order.customer.profile.address}}</td>
                        <td>{{ order.product.product_name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>₹{{ order.price }}</td>
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.created_on }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <footer id="footer">
        <div class="footer py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="footer-link" href="/signin">Register</a>
                        {% if user.is_staff or user.is_admin %}
                        <a href="/list-orders" class="footer-link">Go to
                            list-orders</a>
                        {% endif %}
                        <div class="footer-social pt-4 text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="footer-copy">
                            <div class="copy-right text-center pt-5">
                                <p class="text-light">© 2023.Indo Bites. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>

</html>