{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Indo Bites | Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{% static 'logo1.png' %}" type="image/png">
    <style type="text/css">
        body {
            margin-top: 20px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.153)),
            url("{% static 'bg/bg-4.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100%;
            font-family: 'Papyrus', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        .e-profile img {
            border-radius: 50%;
        }

        .badge-secondary {
            background-color: #A82C48;
            color: #fff;
        }


        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                <div class="card p-3">
                    <div class="e-navlist e-navlist--active-bg">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link px-2" href="\"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="\menu"><i class="fa fa-fw fa-th mr-1"></i><span>Menu</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="/chatview" target="__blank"><i class='far fa-comment' style='font-size:30px'></i><span>Go
                                        Back</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                    <img src="{{user.profile.image.url}}" alt="profile pic" style="height: 140px; width: 140px; object-fit: cover; object-position: center;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><i class='fas fa-at'></i>{{user.username}}</h4>
                                                <p class="mb-0"> Email<i class='far fa-envelope-open'></i>:
                                                    {{user.email}}</p>
                                                <p><i class='fas fa-phone'></i>{{user.profile.phone}}</p>
                                                <p>{{user.profile.address}}</p>
                                                <small>{{user.profile.state}}</small>
                                                <div class="mt-2">
                                                    <p class="mb-0">{{user.profile.review}}</p>
                                                </div>
                                                <div>
                                                    {% if request.user != user %}
                                                    <button class="main-btn btn mt-2"><a href="{%url 'start-chat' user.username%}">Chat
                                                            with
                                                            me
                                                            <i class='far fa-comment'></i></a></button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="text-center text-md-right">
                                                <span class="badge badge-secondary">{{user.username}}</span>
                                                <div class="text-muted"><small>Joined {{user.date_joined}}</small></div>
                                                <div class="text-muted"><small>Last login: {{user.last_login}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <footer id="footer">
        <div class="footer py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="footer-link" href="/signin">Register</a>
                        <a class="footer-link" href="#">Forum</a>
                        <a class="footer-link" href="#">Affiliate</a>
                        <a class="footer-link" href="#">FAQ</a>
                        <div class="footer-social pt-4 text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="footer-copy">
                            <div class="copy-right text-center pt-5">
                                <p class="text-light">© 2023 Indo Bites. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>