<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="icon" href="{% static 'logo1.png' %}" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-success">
            <h1> THANK YOU</h1>
            <h4 class="alert-heading">Payment Successful!✅</h4>
            <p>Thank you for your purchase. Your payment has been successfully processed.</p>
            <p>your Order_id/stripe_checkout_sessionid is <strong>{{session}}</strong> </p>
            <small>Keep this id at hand for any future needs</small>

            <hr>
            <a href="{% url 'home' %}" class="btn btn-primary">Return to Home🏠︎</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>